<!--
   Step 6 of prototyped homepage (index) creation: 

   Moved the internal style and added some new styles in some external stylesheets:
    - Some styles that will apply to elements of all pages, styles/main.css
    - Some styles that only apply to this page, styles/index.css
-->
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %} EVAC {% endblock %}</title>

        <!-- Compiled and minified CSS -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/materialize.min.css')}}">
        <link rel="stylesheet" type= "text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- Shared site-wide CSS  -->
        <!-- <link rel="stylesheet" href="/styles/main.css"> -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css')}}">
        <!-- Page specific CSS -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename= 'styles/my-info.css')}}">
          <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css"> -->
          <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
          
          <script type="text/javascript" src="static\js\caleandar.js"></script>
          <script type="text/javascript" src="static\js\calendar-creator.js"></script>
    </head>

    <body>
        {% block content %}

    <!-- https://materializecss.com/navbar.html -->
    <!-- https://materializecss.com/navbar.html#mobile-collapse -->
    <header>
        <nav>
            <div class="nav-wrapper">
                <img class = "hide-on-small-and-down" src="{{url_for('static', filename='images/ambulance.png')}}"/>
                <a href="/" class="brand-logo">EVAC</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="desktop-nav" class="right hide-on-med-and-down">
                    {% for row in currentuser %}
                    <li>{{row[1]}}</li>
                    {% endfor %}
                    <li><a href="/logout"><i class="material-icons left">logout</i>Logout </a></li>
                    <li><a href="/calendar"><i class="material-icons left">schedule</i>Schedule</a></li>
                    <li><a href="/infoform"><i class="material-icons left">account_circle</i>My Info</a></li>
                    <li><a href="/clockin"><i class="material-icons left">assignment</i>Clock In</a></li>
                    <li><a href="/rigform"><i class="material-icons left">assignment</i>Rig Check</a></li>
                    {% if admin==1 %}
                    <li><a href="/create"><i class="material-icons left">assignment</i>Create User</a></li>
                    <li><a href = "/data"><i class = "material-icons left">view_list</i>View Data</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- <ul id="mobile-nav" class="sidenav">
            <li><a href="/login"><i class="material-icons left"` style="font-size:30px">schedule</i>Schedule</a></li>
                    <li><a href="/templates/my-info"><i class="material-icons left">account_circle</i>My Info</a></li>
                    <li><a href="/templates/clock-in"><i class="material-icons left">assignment</i>Clock In</a></li>
        </ul> -->
    </header>

        </div>
        <div id ="container">
        <div id="caleandar">
            
        </div>
        
        <script type="text/javascript" src="static\js\caleandar.js"></script>
        <!-- <script type="text/javascript" src="static\js\calendar-creator.js"></script> -->
       
        <link rel="stylesheet" href="static\styles\cal.css"/>
        <script type="text/javascript" src="static\js\caleandar.js"></script>
        <script type="text/javascript" src="static\js\calendar-creator.js"></script>
        
        <script type="text/javascript">
        
            // document.write('{{events|tojson}}');
            cal_creator({{events|tojson}});
        </script>
        
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <form action="/calendar" method = "POST">
                    <div class="col-md-5 border-right">
                        <div class="p-3 py-5">
                            
                     <h4 class="text-left white-text" style = "font-size: 50px;"> Your Name</h4>
                    <input class = "white-text" type = "text" name = "name" required>
                    <h4  class="text-left white-text" style="font-size: 50px;"> Shift Date</h4>              
                    <input class = "white-text" type = "date" class = "datepicker" name = "date" value = "date" required/>    

                    <h4 class="text-left white-text" style="font-size:50px" name = "shift_type">Shift Type</h4>
                      
                        <!-- <ul id="dropdown" class="dropdown-content">
                            <li><option value = "am"><a href="#" name = "am">6am-6pm</a></li></option>
                            <li><option value = "pm"><a href="#!" name = "pm">6pm-6am</a></li></option>
                        </ul>
                        <a class="btn dropdown-button" href="#" data-activates="dropdown">Select<i class="mdi-navigation-arrow-drop-down right"></i></a>  <br><br> -->
                    
                  <!-- <input class="text-left white-text" type="radio" id="am" name="shift_type" value="am">
                   
                   
                    <input class = "lext-left white-text"type="radio" id="pm" name="shift_type" value="pm">
                    <label class="text-left white-text" for="pm">6pm - 6am</label><br>--> 
                    

                    <h4 class="text-right white-text" style="font-size:25px">Shift Type</h4>
                        <div class="col-md-5"> <label> <input name = "shift_type" type="radio" value = "6am" /> <span>6 am - 12 pm</span> </label></div>
                        <div class="col-md-5"> <label> <input name = "shift_type" type="radio" value = "12pm"/> <span>12 pm - 6 pm</span> </label></div>  
                        <div class="col-md-5"> <label> <input name = "shift_type" type="radio" value = "6pm" /> <span>6 pm - 12 am</span> </label></div>
                        <div class="col-md-5"> <label> <input name = "shift_type" type="radio" value = "12am"/> <span>12 am - 6 am</span> </label></div>  
                    
                    <div class="mt-5 text-center"><button id = "myBtn" class="btn btn-primary profile-button" type="submit" value = "Submit">REQUEST SHIFT</button></div>    
                            
                    
                    </div>
                </form>
            </div>
        </div>
        </div>
        
        
            <!-- <div id="myModal" class="modal">
        
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="modal-body">
                        <p>Confirm:</p>
                        <li>Name</li>
                        <li>Date</li>
                        <li>Time</li>
                        <li>EMT 1</li>
                        <li>EMT 2</li>
                        <li>EMT 3</li>
                      </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit" value = "Submit">Confirm</button></div>
                </div>
            
                </div>
            </div>
            <script>
                var modal = document.getElementById("myModal");
        
                var btn = document.getElementById("myBtn");
                
                var span = document.getElementsByClassName("close")[0];
                
                btn.onclick = function() {
                  modal.style.display = "block";
                  
                }
                span.onclick = function() {
                  modal.style.display = "none";
                }
                window.onclick = function(event) {
                  if (event.target == modal) {
                    modal.style.display = "none";
                  }
                }
                </script>    
            </div>
        </div> -->
     </body>
     {% endblock %}  
    
    </div>
</html>
