<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %} EVAC {% endblock %}</title>

        <!-- Compiled and minified CSS -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/materialize.min.css')}}">
        <link rel="stylesheet" type= "text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- Shared site-wide CSS  -->
        <!-- <link rel="stylesheet" href="/styles/main.css"> -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css')}}">
        <!-- Page specific CSS -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename= 'styles/my-info.css')}}">
          <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css"> -->
          <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    </head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <img class = "hide-on-small-and-down" src="{{url_for('static', filename='images/ambulance.png')}}"/>
                <a href="/" class="brand-logo">EVAC</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="desktop-nav" class="right hide-on-med-and-down">
                    {% for row in info %}
                    <li>{{row[1]}}</li>
                    {% endfor %}
                    <li><a href="/logout"><i class="material-icons left">logout</i>Logout </a></li>
                    <li><a href="/calendar"><i class="material-icons left">schedule </i>Schedule</a></li>
                    <li><a href="/infoform"><i class="material-icons left">account_circle</i>My Info</a></li>
                    <li><a href="/clockin"><i class="material-icons left">assignment</i>Clock In</a></li>
                    <li><a href="/rigform"><i class="material-icons left">assignment</i>Rig Check</a></li>
                    <li><a href="/create"><i class="material-icons left">assignment</i>Create User</a></li>
                    <li><a href = "/data"><i class = "material-icons left">view_list</i>View Data</a></li>

                </ul>
            </div>
        </nav>
        <!-- <ul id="mobile-nav" class="sidenav">
            <li><a href="/login"><i class="material-icons left"` style="font-size:30px">schedule</i>Schedule</a></li>
                    <li><a href="/templates/my-info"><i class="material-icons left">account_circle</i>My Info</a></li>
                    <li><a href="/templates/clock-in"><i class="material-icons left">assignment</i>Clock In</a></li>
        </ul> -->
    </header>
<style>
 
 td {
        width: 150px;
        text-align: center;
        color: solid white;
        border: 3px solid white;
        padding: 5px;
      }
</style>
<table>
  <thead>
    <tr>
        <th class="text-left white-text">User ID</th>
        <th class="text-left white-text">First Name</th>
        <th class="text-left white-text">Last Name</th>
        <th class="text-left white-text">Date of Birth</th>
        <th class="text-left white-text">Address</th>
        <th class="text-left white-text">City</th>
        <th class="text-left white-text">Email</th>
        <th class="text-left white-text">Phone Number</th>
        <th class="text-left white-text">Quarter Stipend</th>
        <th class="text-left white-text">Total Stipend</th>
        <th class="text-left white-text">Quarter Hours</th>
        <th class="text-left white-text">Total Hours</th>
        <th class="text-left white-text">Admin</th>
    </tr>
    </thead>    
    <tbody>
     {% for row in data %}    
            <tr>
                <td class="text-left white-text">{{row[0]}}</td>
                <td class="text-left white-text">{{row[1]}}</td>
                <td class="text-left white-text">{{row[2]}}</td>
                <td class="text-left white-text">{{row[3]}}</td>
                <td class="text-left white-text">{{row[4]}}</td>
                <td class="text-left white-text">{{row[5]}}</td>
                <td class="text-left white-text">{{row[6]}}</td>
                <td class="text-left white-text">{{row[7]}}</td>
                <td class="text-left white-text">{{row[8]}}</td>
                <td class="text-left white-text">{{row[9]}}</td>
                <td class="text-left white-text">{{row[10]}}</td>
                <td class="text-left white-text">{{row[11]}}</td>
                <td class="text-left white-text">{{row[12]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
